.piano {
	font-size: 0;
	height: 400px;
}
.key {
	border-top: 1px solid #eee;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	transition: 0.2s;
}
.key:not(.black) {
	box-shadow: inset 0px -5px 0px 1px rgba(51, 51, 51, 0.1);
	height: 400px;
	width: 6%;
}
.black {
	box-shadow: inset 0px -5px 0px 5px rgba(51, 51, 51, 0.1);
	height: 200px;
	margin: 0 -2.5%;
    position: relative;
	vertical-align: top;
	width: 5%;
}
.key p {
	transition: 0.2s;
}
.key p::selection {
	background: none;
}
.key:not(.black) p {
	margin-top: 350px;
}
.black p {
	color: #fff;
	margin-top: 150px;
}
.down {
	background-color: #07a;
	box-shadow: inset 0px -2px 0px 5px rgba(51, 51, 51, 0.1);
}
.down:not(.black) {
	background-color: #eee;
	box-shadow: inset 0px -2px 0px 1px rgba(51, 51, 51, 0.1);
}
.black:not(.down) {
	background-color: #08b;
}
.black p {
	text-align: center;
}
.box p {
	display: inline-block;
}
.break {
	display: inline-block;
}
@media only screen and (max-width: 768px) {
	.piano {
		height: 1200px;
	}
	.break {
		display: block;
	}
	.key:not(.black) {
		width: 16%;
	}
	.black {
		margin: 0 -7.5%;
		width: 15%;
	}
}

.loading-container {
	filter: blur(10px);
	pointer-events: none;
	user-select: none;
}

.loading {
	z-index: 2000;
	position: fixed;
	top: 50%;
	left: 50%;
	background: none;
	transform: translate(-50%, -50%);
}

.loading p {
	font-size: 20px;
	text-align: center;
}
