input {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	height: 33px;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 17.25px;
	vertical-align: middle;
}
input:focus {
	outline: none;
}
.dna p {
	display: inline-block;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding: 5px;
	vertical-align: middle;
}
.dis {
	opacity: 0.4;
}
.a {
	background-color: #fcc;
}
.c {
	background-color: #ffc;
}
.g {
	background-color: #cfc;
}
.t {
	background-color: #cff;
}
.u {
	background-color: #cef;
}