*::-webkit-scrollbar-track {
	opacity: 0;
}
*::-webkit-scrollbar {
	opacity: 0;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 10px;
}
canvas {
	background-color: #eee;
	position: fixed;
	left: 351px;
	height: 100%;
	width: calc(100% - 351px);
	top: 0;
}
#settings {
	align-items: center;
	background-color: #fff;
	border-right: 1px solid #bbb;
	border-top: 1px solid #bbb;
	display: flex;
	flex-flow: row wrap;
	transform: translate(0, 100%);
	transition: 0.25s;
	padding: 10px 0;
	bottom: 0;
	position: fixed;
	width: 350px;
}
#settings input[type="text"] {
	border-bottom: 1px solid #bbb;
	border-left: none;
	border-right: none;
	border-top: none;
	transition: 0.25s;
}
#settings input[type="text"]:hover {
	border-bottom: 1px solid #777;
}
#settings input[type="text"]:focus {
	border-bottom: 1px solid #777;
	outline: none;
}
#settings p {
	padding: 10px;
}
#settings hr {
	border: 0.5px solid #bbb;
	margin: 10px 20px;
	width: 100%;
}
#settings:focus {
	outline: none;
}
.on {
	color: #777;
}
#title {
	background-color: #00ae8c;
	border-radius: 100px;
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	left: 50%;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s 1s;
}
#controls {
	border-right: 1px solid #bbb;
	height: 100%;
	transition: 0.25s;
	width: 350px;
}
#bottom button {
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid #bbb;
	margin: 5px 0;
	width: 50px;
}
.left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none !important;
	margin-left: 5px !important;
	width: 25px !important;
}
.right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none !important;
	margin-right: 5px !important;
	width: 25px !important;
}
.center {
	border-radius: 5px;
	margin: 5px !important;
}
html,
body {
	height: 100%;
}
button,
p,
input[type="text"] {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 15px;
}
html,
body,
ul,
button,
p {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
ul {
	height: 100%;
	list-style: none;
	width: 365px;
	overflow-y: scroll;
}
li {
	border-bottom: 1px solid #bbb;
	border-left: none;
	border-top: none;
	width: 350px;
}
p {
	float: left;
}
.mq-editable-field {
	border: none !important;
	box-shadow: none !important;
	padding: 14px 10px;
	width: 230px;
}
#bottom {
	position: fixed;
	left: 351px;
	bottom: 0;
}
button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: #bbb;
	height: 40px;
	float: left;
	font-size: 15px;
	margin: 5px;
	transition: 0.125s;
	width: 15px;
}
button:not(.count):hover {
	color: #777;
}
#hue {
	height: 30px;
	display: flex;
	align-items: center;
}
#hue input[type="radio"] {
	visibility: hidden;
	width: 0;
}
#hue label {
	border-radius: 12.5px;
	font-size: 0;
	padding: 10px;
	transition: 0.25s;
}
#hue input:checked + label {
	padding: 12.5px;
}
label[for="c1"] {
	background-color: #d5415c;
}
label[for="c2"] {
	background-color: #ff8a00;
}
label[for="c3"] {
	background-color: #d2a600;
}
label[for="c4"] {
	background-color: #53a72b;
}
label[for="c5"] {
	background-color: #00ae8c;
}
label[for="c6"] {
	background-color: #00aec7;
}
label[for="c7"] {
	background-color: #3268b1;
}
label[for="c8"] {
	background-color: #a761a3;
}
label[for="c9"] {
	background-color: #0c0e0e;
}
.count {
	background-color: #00ae8c;
	border-radius: 5px;
	color: #fff;
	width: 40px;
}
.count:hover {
	height: 45px;
	margin: 2.5px;
	width: 45px;
}
.off {
	background-color: #bbb !important;
}
button:focus {
	outline: none;
}

@media only screen and (max-width: 768px) {
	#settings {
		width: 100%;
	}
	#controls {
		height: 350px !important;
		width: calc(100% - 15px);
	}	
	ul {
		border-bottom: 1px solid #bbb;
		height: 100%;
		width: calc(100% + 15px);
	}
	li {
		width: calc(100% - 6.5px);
	}
	p {
		width: calc(100% - 100px);
	}
}