.article {
	margin: auto;
	max-width: 860px;
	padding: 50px;
}
figure {
	margin: 50px 0;
	text-align: center;
}
img {
	margin: 25px 0;
}
img,
.video {
	border: 1px solid #000;
	width: 50%;
}
pre {
	background-color: #eee;
	border: none !important;
	overflow-x: auto;
	padding: 25px !important;
	max-width: 910px;
}
pre span {
	font-family: "Ludica Console", Monaco, monospace !important;
	font-size: 15px;
	letter-spacing: 0px !important;
}
table {
	background-color: #eee;
}
td,
th {
	padding: 10px;
}
th {
	font-weight: 900;
}
.header {
	letter-spacing: 1px;
	margin: 100px auto 0 auto;
	max-width: 960px;
	text-align: center;
}
.video {
	margin: 50px auto;
	padding-top: 50%;
	position: relative;
}
.video iframe {
	border: none;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}