hr {
	border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
}
.content {
	margin: auto;
	max-width: 910px;
	padding: 25px;
}
label,
input,
button {
	padding: 15px;
	transition: 0.2s;
}
input:focus,
button:focus {
	outline: none;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked+label {
    background-color: #eee;
}
label {
	line-height: 50px;
	white-space: nowrap;
}
input[type=text],
input[type=number],
input[type=password] {
	border: 1px solid #ccc;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=password]:hover {
	border: 1px solid #999;
}
button,
input[type=submit] {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: none;
}
button:hover,
input[type=submit]:hover {
	background-color: #eee;
}
button:active,
input[type=submit]:active {
	border: 1px solid #999;
}