@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	font-family: "Open Sans";
	font-weight: 100;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #999;
}
*::-webkit-scrollbar-track {
	background-color: #ccc;	
}
p,
button,
input[type=text],
imput[type=number],
label {
	font-size: 15px;
}
p {
	line-height: 30px;
	overflow-x: auto;
	overflow-y: hidden;
}
a {
	color: #08b;
	text-decoration: none;
}
strong,
strong * {
	font-weight: 900;
}
body {
	margin: 0;
}
.first {
	text-align: center;
}
.first h1 {
	color: #096;
	font-size: 50px;
	margin-top: 100px;
	letter-spacing: 20px;
}
.first p {
	color: #999;
	font-size: 20px;
	letter-spacing: 1px;
	margin: -25px 0 50px 0;
}
.navigate div,
.sticky div {
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 720px;
	width: 75%;
}
.navigate,
.sticky {
    background-color: #eee;
	margin: auto;
	padding: 25px;
	width: calc(100% - 50px);
}
.navigate a,
.sticky a {
	color: #000;
	flex-grow: 1;
	letter-spacing: 1px;
	padding: 0 10px;
	text-align: center;
}
.sticky {
	position: fixed;
	left: 50%;
	opacity: 0;
	top: 0;
	transform: translate(-50%, 0);
	z-index: 1;
}
.last {
    background-color: #eee;
	text-align: center;
	margin: auto;
	padding: 10px 25px;
	width: calc(100% - 50px);
}
.last p {
    font-size: 12px;
    line-height: 24px;
}