@charset "utf-8";
/* CSS Document */

html {
	height: 100%;
}
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	height: 100%;
	margin: 0;
}
/* Defaults */
h1,
h2,
h3,
p,
figcaption,
label {
	color: #333;
	letter-spacing: 1px;
	margin: 0px;
	overflow-x: auto;
	padding: 10px;
	text-align: center;
}
h1 {
	font-size: 30px;
	line-height: 40px;
}
h2 {
	font-size: 25px;
	line-height: 35px;
}
h3 {
	font-size: 20px;
	line-height: 30px;
}
p,
figcaption,
label {
	font-size: 15px;
	line-height: 25px;
}
a {
	color: #08b;
	font-size: 15px;
	letter-spacing: 1px;
	text-decoration: none;
	transition: 0.5s;
}
a:hover {
	text-shadow: 2px 2px 10px #333;
}
hr {
	border-color: #bbb;
	border-style: solid;
	margin: 20px;
}
ul {
	background-color: #eee;
	list-style: none;
	margin: auto;
	padding: 0;
	width: 90%;
}
li {
	border: 1px solid #bbb;
	padding: 10px;
	margin: -1px 0 0 0;
	text-align: left;
	transition: 0.2s;
	overflow-x: auto;
}
li:hover {
	background-color: #ddd;
}
li a {
	color: #333;
}
li ul {
	background-color: #fff;
	margin: 10px;
}
li ul li {
	font-size: 10px;
	text-align: right;
}
li ul li:hover {
	background-color: #eee;
}
	margin: 10px;
}
th,
td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
input {
	border: 1px solid #bbb;
	border-radius: 0px;
	color: #333;
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16px;
	padding: 10px;
	width: 90%;
}
button {
	background-color: #08b;
	border: none;
	box-shadow: 0px 0px 10px #333;
	color: #fff;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 15px;
	letter-spacing: 1px;
	transition: 0.5s;
	padding: 15px;
}
button:active {
	box-shadow: none;
	transition: 0.2s;
}
button:hover {
	background-color: #07a;
	color: #fff;
	opacity: 1;
}
button:focus {
	outline: none;
}
/* Frame */
.header h1 {
	color: #096;
	font-size: 35px;
	letter-spacing: 5px;
	overflow: visible;
	padding: 50px 20px 0 20px;
}
.header p {
	color: #bbb;
	padding: 20px 0 25px 0;
	letter-spacing: 2px;
}
.topnav {
	background-color: #fff;
	box-shadow: 0px 20px 25px rgba(51, 51, 51, 0.2);
	font-size: 0;
  position: relative;
	text-align: center;
	z-index: 1;
}
.topnav a {
	color: #333;
	display: inline-block;
	font-size: 15px;
	padding: 15px 15px 10px 15px;
	text-shadow: none;
	transition: 0.2s;
}
.topnav a:not(.active) {
	border-bottom: 5px solid #fff;
}
.topnav a:not(.active):hover {
	border-bottom: 5px solid #bbb;
}
.topnav div {
	overflow: hidden;
	transition: 0.5s;
}
a.icon {
	display: none;
}
.responsive div {
	overflow: hidden;
}
#sticky {
	display: none;
	top: 0;
	transition: 0.2s;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.active {
	border-bottom: 5px solid #096;
}
.active:hover {
	border-bottom: 5px solid #075;
}
.footer {
	box-shadow: 0px -20px 25px rgba(51, 51, 51, 0.2);
	font-size: 15px;
	padding: 10px;
}
.footer p {
	color: #888;
}
.footer a {
	color: inherit;
	transition: 0.5s;
}
.footer a:hover {
	text-shadow: 2px 2px 10px #08b;
}
/* Front page */
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}
.layer {
	background: linear-gradient(to right, rgba(51, 51, 51, 0.4) 0%, rgba(51, 51, 51, 0.6) 25%, rgba(51, 51, 51, 0.6) 75%, rgba(51, 51, 51, 0.4) 100%);
	text-align: center;
	padding: 50px 25px;
	width: 100%;
}
.layer h1 {
	color: #eee;
}
.layer p {
	color: #eee;
}
/* Elements */
.content {
	align-content: center;
	padding: 25px;
	text-align: center;
}
.columns {
	margin: auto;
	max-width: 1500px;
}
.fourth {
	float: left;
	width: 25%;
}
.fourth img {
	object-fit: cover;
	display: block;
	height: 200px;
	margin: auto;
	transition: 0.5s;
	width: 90%;
}
.fourth img:hover {
	box-shadow: 0px 0px 10px #333;
}
.fourth h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.clear {
	clear: both;
}
.avatar {
	display: inline-block;
	margin: 10px;
	max-width: 250px;
	min-width: 100px;
	transition: 0.5s;
	width: 25%;
}
.avatar:hover {
	box-shadow: 0px 0px 10px #333;
}
.blurb {
	display: inline-block;
	max-width: 750px;
	vertical-align: top;
	width: 70%;
}
.blurb h1 {
	text-align: left;
}
.blurb p {
	text-align: left;
}
.blurt {
	display: inline-block;
	max-width: 750px;
	vertical-align: top;
	width: 70%;
}
.blurt h1 {
	text-align: right;
}
.blurt p {
	text-align: right;
}
.separate {
	background-color: #fff;
	padding: 20px;
}
/* Article */
.article {
	text-align: center;
	background-color: #fff;
	margin: auto;
	max-width: 1500px;
	padding: 10px;
}
.article p {
	text-align: justify;
}
.figure {
	text-align: center;
	display: flex;
}
.figure figure {
	margin: auto;
}
.figure img {
	box-shadow: 0px 0px 10px #333;
	width: 50%;
}
img.latex {
	height: 14px;
	vertical-align: middle;
}
.figcaption {
	text-align: center;
}
.code {
	background-color: #eee;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	overflow: auto;
	padding: 10px 25px;
	text-align: left;
    white-space: nowrap;
}
.video {
	margin-bottom: -28.25%;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.video iframe {
	border: none;
	box-shadow: 0px 0px 10px #333;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 25%;
}
@media only screen and (max-width: 768px) {
	.topnav {} .topnav a {
		border-bottom: none;
		display: block;
		padding: 15px;
		transition: 1s;
	}
	.topnav a:not(.active) {
		border-bottom: none;
		border-left: 5px solid #fff;
		border-right: 5px solid #fff;
	}
	.topnav a:not(.active):hover {
		border-bottom: none;
		border-left: 5px solid #bbb;
		border-right: 5px solid #bbb;
	}
	.topnav div {
		max-height: 0;
	}
	.responsive div {
		max-height: 550px;
	}
	.active {
		border-left: 5px solid #096;
		border-right: 5px solid #096;
	}
	.active:hover {
		border-bottom: none;
		border-left: 5px solid #075;
		border-right: 5px solid #075;
	}
	.fourth {
		margin: 5px 0;
		width: 50%;
	}
	.divider {
		clear: both;
	}
	.blurb {
		display: block;
		max-width: none;
		width: 100%;
	}
	.blurb h1 {
		text-align: center;
	}
	.blurt {
		display: block;
		max-width: none;
		width: 100%;
	}
	.blurt h1 {
		text-align: center;
	}
	.figure img {
		width: 75%;
	}
	.video {
		margin-bottom: -14.125%;
	}
	.video iframe {
		height: 75%;
		left: 12.5%;
		width: 75%;
	}
}
