.base-motif canvas {
    display: inline-block;
}
.toolbar button {
    position: relative;
    right: 30px;
}
.toolbar input[type="text"] {
    width: 430px;
}
.toolbar input[type="number"] {
    width: 50px;
}
.toolbar input[type="checkbox"] {
    width: 50px;
}
.toolbar {
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
    width: 100%;
}
.toolbar p {
    text-align: center;
    position: relative;
    right: 15px;
}
.fl {
    width: 100%;
    max-width: 512px;
    float: left;
}
.fr {
    width: 100%;
    max-width: 512px;
    float: right;
}
.cdf {
    margin: 0 auto;
    text-align: center;
    max-width: 1024px;
    width: 100%;
}
.cdf button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
