.middle {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-f {
    overflow: visible;
}

.staff-play {
    display: inline-block;
}

.sound-vis {
    float: right;
}

.staff {
    display: inline-flex;
}
