.blurb {
	display: flex;
	margin: auto;
	max-width: 860px;
	padding: 25px;
}
.side {
	width: 75%;
}
.left {
	margin-right: 20px;
	width: 25%;
}
.side div {
	background-size: cover;
	border-radius: 5px;
	padding-top: 100%;
	width: 100%;
}