input {
	vertical-align: middle;
}
input[type=checkbox] {
	position: relative;
	right: 20px;
}
input[type=number] {
	display: inline-block;
	max-width: 50px;
    text-align: center;
    font-size: 20px;
    padding: 1px;
}
input[type=text]:not(.signature input) {
    display: inline-block;
    max-width: 100px;
    text-align: center;
    font-size: 15px;
    padding: 1px;
}
.signature input {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 1px;
}
input[type=range] {
    display: inline-block;
    max-width: 120px;
}
input[type=checkbox] {
    display: inline-block;
    max-width: 10px;
    margin-left: 20px;
}
.box p {
	display: inline-block;
	vertical-align: middle;
}
.box {
	text-align: middle;
	margin: auto;
}
.signature {
    display: inline-block;
}
.signature hr {
    margin: 8px 0;
}
.signature-label {
    max-width: 150px;
    display: inline-block;
    position: relative;
    bottom: 20px;
}
.bpm-label {
    max-width: 80px;
    display: inline-block;
    position: relative;
    bottom: 20px;
}
input:not(.radio .text) {
	border: 1px solid #ddd;
	box-sizing: border-box;
	font-size: 15px;
	letter-spacing: 1px;
	margin: 20px 0;
	padding: 10px;
	transition: 0.2s;
}
input[type=radio]:hover {
	border: 1px solid #bbb;
}
input[type=radio] {
	width: 0;
	visibility: hidden;
}
input[type=radio]:checked+label {
	border-bottom: 5px solid #08b;
}
label {
	border-bottom: 0px solid #08b;
	padding: 10px;
	transition: 0.2s;
}
.tmp-element {
    white-space: pre;
	font-size: 20px;
}
canvas {
	width: 90%;
}
