/* CSS Document */

canvas {
	border: 1px solid #ddd;
}
input[type=number] {
	width: 100px;
}
input[type=radio] {
	visibility: hidden;
	width: 0;
}
input:checked+label {
	border-bottom: 5px solid #08b;
}
label {
	border-bottom: 0px solid #08b;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	transition: 0.2s;
}
.box p {
}