* {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #999;
}
*::-webkit-scrollbar-track {
	background-color: #ccc;	
}
html, body {
	height: 100%;
	margin: 0;
}
.header {
	align-items: center;
	background-image: url(../fractals/0003/images/thumb.png);
	background-position: center;
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
	position: relative;
}
.header div {
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.header *:not(div) {
	max-width: 960px;
	z-index: 0;
}
.list {
	align-items: center;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	padding: 25px 0;
}
.block {
	background-color: #fff;
	border-bottom: 10px solid #096;
	margin: 25px 0;
	max-width: 960px;
	padding: 100px;
}
.more {
	margin: 50px 0;
}
.more a {
	border: 5px solid #096;
	border-radius: 5px;
	color: #000;
	padding: 20px;
	transition: 0.25s;
}
.more a:hover {
	background-color: #096;
	color: #fff;
}
h1 {
	font-size: 50px;
	letter-spacing: 5px;
}
h2 {
	font-size: 30px;
	letter-spacing: 2px;
}
p {
	font-size: 20px;
	line-height: 40px;
}
a {
	color: #08b;
	text-decoration: none;
}
input {
	border: none;
	font-size: 20px;
	max-width: 920px !important;
	padding: 20px;
	width: 100%;
}
input:focus {
	outline: none;
}