@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
	overflow: hidden;
}
button {
	background-image: url(src/textures/px.jpg);
	border: 2px solid #c96;
	margin: 1px 0;
	padding: 5px;
	animation-name: bout;
	animation-duration: 0.4s;
}
button:hover {
	animation-name: bin;
	animation-duration: 0.4s;
	transform: scale(1.1);
}
@keyframes bin {
	0% {transform: scale(1);}
	40% {transform: scale(1.1);}
	80% {transform: scale(1.075);}
	100% {transform: scale(1.1);}
}

@keyframes bout {
	0% {transform: scale(1.1);}
	40% {transform: scale(1);}
	80% {transform: scale(1.025);}
	100% {transform: scale(1);}
}
.side,
.left {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	position: absolute;
	width: 250px;
	top: 50%;
	transform: translate(0, -50%);

	pointer-events: auto;
	z-index: 100;
}
.side {
	right: 0;
}
.left {
	left: 0;
}
h2,
h3 {
	text-align: center;
}
.side p,
.side button {
	margin-left: 10px;
}
.left h2 {
	text-align: center;
}
.left p {
	margin-left: 10px;
	margin-right: 10px;
}
.left center {
	text-align: center;
}